<!-- <ion-button type="submit" (click)="authService.SignOut()" expand="block"
  >Salir de sesión</ion-button> -->
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Generar key</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Tamaño:</ion-label>
    <ion-input type="number" [(ngModel)]="tamanio" (ionChange)="validateSize()"></ion-input>
    </ion-item>
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Permutación:</ion-label>
    <ion-input type="number" [(ngModel)]="permutacion" (ionChange)="validatePermutacion()"></ion-input>
    </ion-item>
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Sustitución:</ion-label>
    <ion-input type="number" [(ngModel)]="sustitucion"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Rondas:</ion-label>
    <ion-input type="number" [(ngModel)]="modulo" (ionChange)="validateRondas()"></ion-input>
    </ion-item>
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="cifrar()"  expand="block"
          >Key</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-item *ngIf="cifrado">
      <ion-label position="floating">Key:</ion-label>  
      <ion-input type="text" [value]="cifrado"></ion-input>
      </ion-item>
  
  </ion-content>
  <ion-content>
    
    <ion-row>
      <ion-col>
        <ion-button (click)="cifrar()"  expand="block"
          >Cargar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [routerLink]="['/mensaje']"  expand="block"
          >Cifrar-decifrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
  